.background {
    background: rgba(42, 42, 42, 0.7) url('../img/solllaer.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondHalf {
    width: 30%;

}

.secondHalf img {
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;

}

.text-big {
    font-size: 40px;

}

.text-small {
    font-size: 18px;
    text-align: justify;
}

.btn {
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;

}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;

}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.section-left {
    flex-direction: row-reverse;

}

.paras {
    padding: 0px 65px;
}

.sectionTag {
    padding: 16px 0;
    ;
}

.sectionSubTag {
    padding: 16px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.thumbnail img {
    width: 450px;
    border: 2px solid black;
    border-radius: 26px;
    margin: 19px 2px;
    height: 322px;

}

.cool {
    text-align: center;
    font-size: 60px;
    color: red;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 10px;

}